
    @import url("./css/ui.css");

        .jumbotron {
            width: 100%x;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .selecionado{
            background: yellow;
        }

        .negrito{
            font-weight: bold;
        }

        form {
            margin-left: auto;
            margin-right: auto;
            width: 500px;
             text-align: center;
        }
