<html ng-app="previsaoDoTempo"  >
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta charset="UTF-8">
    <title>Previsão do Tempo</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> <!-- Usando dependencia do Bower ou BrowserFy não necessaria importar dessa forma -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-messages.js"></script> -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>-->
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"></head> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/ui.css"> -->
</head>
    <body  ng-controller="previsaoController as previsaoCtrl" >
        <div class="jumbotron">
            <div>
                 <h4>{{previsaoCtrl.titulo}}</h4>
                <hr/>


                <form name="previsaoForm" >
                    <input class="form-control" type="text" ng-model="previsaoCtrl.nomeDaCidade" placeholder="Digite a cidade que você deseja buscar..."  ng-required="true">
                    <br/>
                    <button type="submit" class="btn btn-primary btn-block" ng-click="previsaoCtrl.buscaPrevisao(previsaoCtrl.nomeDaCidade)" ng-disabled="previsaoForm.$invalid">
                        Ver previsão
                    </button>
                </form>
            </div>

            <div>
                <ui-alert title="{{previsaoCtrl.titleError}}" message="previsaoCtrl.error" ng-show="previsaoCtrl.showError" >ç
                    Teste de da propriedade trasclude que mantem o conteudo dentro do elemento
                </ui-alert>

                <table class="table table-striped" ng-hide="previsaoCtrl.showError || !previsaoCtrl.cidadeSelecionada">
                    <tr>
                        <th>Cidade</th>
                        <th>Temperatura </th>
                        <th>Descrição</th>
                        <th>Temperatura Máx</th>
                        <th>Temperatura Min</th>
                        <th>Umidade</th>
                        <th>Pressão</th>
                        <th>Velocidade do Vento</th>
                    </tr>
                    <tr >
                        <td>{{previsaoCtrl.cidadeSelecionada.name  | cidadeEstado: previsaoCtrl.cidadeSelecionada.sys.country }}</td>
                        <td>{{previsaoCtrl.cidadeSelecionada.main.temp}}</td>
                        <td>{{previsaoCtrl.cidadeSelecionada.weather[0].description | descricao}}</td>
                        <td>{{previsaoCtrl.cidadeSelecionada.main.temp_max }}</td>
                        <td>{{previsaoCtrl.cidadeSelecionada.main.temp_min }}</td>
                        <td>{{previsaoCtrl.cidadeSelecionada.main.humidity }}</td>
                        <td>{{previsaoCtrl.cidadeSelecionada.main.pressure }}</td>
                        <td>{{previsaoCtrl.cidadeSelecionada.wind.speed }}</td>

                    </tr>
                </table>
            </div>
            <br><br>
            <hr/>

              <br>
             <h4>Exemplos de diretivas</h4>
              <div class="jumbotron">
                Formatação e interceptação no ciclo de vida :
                <input type="text" name="fata" ng-model="previsaoCtrl.contato.data" placeholder="Data" ui-date> </td> <!-- testanto diretiva de formatação-->
                <br>
                <br>
                <br>
                <ui-accordions>
                  <ui-accordion title="Accordion 1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas velit augue, eget vestibulum magna tempor non. Sed id eros quam. Aenean vitae euismod sapien, in congue justo. Mauris quis leo non neque dictum hendrerit vitae quis leo. Aenean interdum congue risus eu vulputate. Praesent porta facilisis tincidunt. Phasellus enim elit, tempus vitae iaculis vitae, facilisis vel lacus. Fusce semper semper enim, vitae congue ex. Nam auctor mi neque, quis mattis nulla posuere sed. Vivamus consectetur, diam sed pellentesque porta, metus nulla facilisis sem, sit amet ultricies lacus ex nec orci.
                  </ui-accordion>
                  <ui-accordion title="Accordion 2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas velit augue, eget vestibulum magna tempor non. Sed id eros quam. Aenean vitae euismod sapien, in congue justo. Mauris quis leo non neque dictum hendrerit vitae quis leo. Aenean interdum congue risus eu vulputate. Praesent porta facilisis tincidunt. Phasellus enim elit, tempus vitae iaculis vitae, facilisis vel lacus. Fusce semper semper enim, vitae congue ex. Nam auctor mi neque, quis mattis nulla posuere sed. Vivamus consectetur, diam sed pellentesque porta, metus nulla facilisis sem, sit amet ultricies lacus ex nec orci.
                  </ui-accordion>
                  <ui-accordion title="Accordion 3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas velit augue, eget vestibulum magna tempor non. Sed id eros quam. Aenean vitae euismod sapien, in congue justo. Mauris quis leo non neque dictum hendrerit vitae quis leo. Aenean interdum congue risus eu vulputate. Praesent porta facilisis tincidunt. Phasellus enim elit, tempus vitae iaculis vitae, facilisis vel lacus. Fusce semper semper enim, vitae congue ex. Nam auctor mi neque, quis mattis nulla posuere sed. Vivamus consectetur, diam sed pellentesque porta, metus nulla facilisis sem, sit amet ultricies lacus ex nec orci.
                  </ui-accordion>
                  <ui-accordion title="Accordion 4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas velit augue, eget vestibulum magna tempor non. Sed id eros quam. Aenean vitae euismod sapien, in congue justo. Mauris quis leo non neque dictum hendrerit vitae quis leo. Aenean interdum congue risus eu vulputate. Praesent porta facilisis tincidunt. Phasellus enim elit, tempus vitae iaculis vitae, facilisis vel lacus. Fusce semper semper enim, vitae congue ex. Nam auctor mi neque, quis mattis nulla posuere sed. Vivamus consectetur, diam sed pellentesque porta, metus nulla facilisis sem, sit amet ultricies lacus ex nec orci.
                  </ui-accordion>
                  <ui-accordion title="Accordion 5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas velit augue, eget vestibulum magna tempor non. Sed id eros quam. Aenean vitae euismod sapien, in congue justo. Mauris quis leo non neque dictum hendrerit vitae quis leo. Aenean interdum congue risus eu vulputate. Praesent porta facilisis tincidunt. Phasellus enim elit, tempus vitae iaculis vitae, facilisis vel lacus. Fusce semper semper enim, vitae congue ex. Nam auctor mi neque, quis mattis nulla posuere sed. Vivamus consectetur, diam sed pellentesque porta, metus nulla facilisis sem, sit amet ultricies lacus ex nec orci.
                  </ui-accordion>
               </ui-accordions>
          </div>
        </div>
        <!-- <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
        			<div ng-message="required">
        				Por favor, preencha o campo nome!
        			</div>
        			<div ng-message="minlength">
        				O campo nome deve ter no mínimo 10 caracteres.
        			</div>
        		</div>

        		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
        			Por favor, preencha o campo telefone!
        		</div>
        		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
        			O campo telefone deve ter o formato DDDDD-DDDD.
        		</div> -->

            <div ng-include="'view/rodape.html'"></div>
    </body>
</html>
